# 빅콘테스트 퓨처스리그 : KBO 정규시즌 팀별 승률, 타율, 방어율 예측

2020.09.22 화요일 김채형 (9월 23일 이전까지의 데이터)  
2020.09.23 수요일 김채형 수정

## Crawling - KBO 기록

In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import requests
import time
import pandas as pd

/usr/local/var/pyenv/versions/3.6.5/lib/python3.6/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
# 크롬드라이버 경로 설정
path = '/Users/kimchaehyeong/Downloads/chromedriver'

### 선수기록 - 타자 크롤링

In [3]:
# 타자 url
url = 'https://www.koreabaseball.com/Record/Player/HitterBasic/Situation.aspx'

# 크롬드라이버 시작
driver = webdriver.Chrome(path)
driver.get(url)
time.sleep(10)

# 월별 -> 8월 선택
select = Select(driver.find_element_by_xpath('//*[@id="cphContents_cphContents_cphContents_ddlSituation_ddlSituation"]'))
select.select_by_visible_text('월별')
time.sleep(10)
select = Select(driver.find_element_by_xpath('//*[@id="cphContents_cphContents_cphContents_ddlSituationDetail_ddlSituationDetail"]'))
select.select_by_visible_text('8월')
time.sleep(10)

# 크롤링 시작
table_df_list = []

for i in range(1, 10):
    
    # 해당 페이지 테이블 크롤링
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table')
    table_html = str(table)
    table_df = pd.read_html(table_html)
    table_df = table_df[0]
    table_df_list.append(table_df)
    
    time.sleep(10)
    
    # 다음 페이지로 이동
    if i%5==1:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo2"]'
    elif i%5==2:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo3"]'
    elif i%5==3:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo4"]'
    elif i%5==4:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo5"]'
    else:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNext"]'
    try:
        driver.find_element_by_xpath(pagexpath).click()
    except:
        break
    
    time.sleep(10)

# 크롬드라이버 종료
driver.quit()

In [4]:
# 타자 8월 테이블 -> ok
hitter_august = pd.concat(table_df_list)
hitter_august.reset_index(drop=True, inplace=True)
hitter_august

      순위  선수명   팀명    AVG  AB  H  2B  3B  HR  RBI  BB  HBP  SO  GDP
0      1  장승현   두산      1   1  1   0   0   0    0   0    0   0    0
1      1  조수행   두산      1   1  1   0   0   0    0   0    0   0    0
2      3  김기환   NC    0.5   2  1   1   0   0    0   0    0   0    0
3      3  이우성  KIA    0.5   4  2   0   0   0    0   0    1   2    0
4      5  정의윤   SK  0.444   9  4   1   0   0    3   0    0   3    0
..   ...  ...  ...    ...  .. ..  ..  ..  ..  ...  ..  ...  ..  ...
237  182  김진욱   한화  0.000   1  0   0   0   0    0   0    0   1    0
238  182  박정현   한화  0.000   3  0   0   0   0    0   0    0   2    0
239  182  정기훈   한화  0.000   7  0   0   0   0    0   1    1   4    0
240  182  김강현   롯데      0   3  0   0   0   0    0   1    0   2    0
241  182  김동한   롯데      0   5  0   0   0   0    0   1    0   0    1

[242 rows x 14 columns]

In [5]:
hitter_august.to_csv('../../data/kbo_record_hitter_august.csv')

In [21]:
# 타자 url
url = 'https://www.koreabaseball.com/Record/Player/HitterBasic/Situation.aspx'

# 크롬드라이버 시작
driver = webdriver.Chrome(path)
driver.get(url)
time.sleep(10)

# 월별 -> 9월 이상 선택
select = Select(driver.find_element_by_xpath('//*[@id="cphContents_cphContents_cphContents_ddlSituation_ddlSituation"]'))
select.select_by_visible_text('월별')
time.sleep(10)
select = Select(driver.find_element_by_xpath('//*[@id="cphContents_cphContents_cphContents_ddlSituationDetail_ddlSituationDetail"]'))
select.select_by_visible_text('9월 이상')
time.sleep(10)

# 크롤링 시작
table_df_list = []

for i in range(1, 9):
    
    # 해당 페이지 테이블 크롤링
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table')
    table_html = str(table)
    table_df = pd.read_html(table_html)
    table_df = table_df[0]
    table_df_list.append(table_df)
    
    time.sleep(10)
    
    # 다음 페이지로 이동
    if i%5==1:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo2"]'
    elif i%5==2:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo3"]'
    elif i%5==3:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo4"]'
    elif i%5==4:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo5"]'
    else:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNext"]'
    try:
        driver.find_element_by_xpath(pagexpath).click()
    except:
        break
    
    time.sleep(10)

# 크롬드라이버 종료
driver.quit()

In [22]:
# 타자 9월 이상 테이블
hitter_september = pd.concat(table_df_list)
hitter_september.reset_index(drop=True, inplace=True)
hitter_september

      순위  선수명  팀명    AVG  AB  H  2B  3B  HR  RBI  BB  HBP  SO  GDP
0      1  김은성  키움      1   2  2   0   0   0    0   0    0   0    0
1      2  송민섭  KT  0.571   7  4   1   0   1    2   2    0   2    0
2      3  권민석  두산    0.5   4  2   1   0   0    3   0    0   1    0
3      3  서예일  두산    0.5   6  3   1   0   0    0   0    0   3    0
4      3  양찬열  두산    0.5   2  1   0   0   0    0   0    0   0    0
..   ...  ...  ..    ...  .. ..  ..  ..  ..  ...  ..  ...  ..  ...
221  165  김성표  삼성  0.000   4  0   0   0   0    0   0    0   1    0
222  165  박승규  삼성      -   0  0   0   0   0    0   0    0   0    0
223  165  임현준  삼성      -   0  0   0   0   0    0   0    0   0    0
224  165  박상언  한화  0.000   7  0   0   0   0    0   0    0   4    0
225  165  김강현  롯데      -   0  0   0   0   0    0   0    0   0    0

[226 rows x 14 columns]

In [23]:
hitter_september.to_csv('../../data/kbo_record_hitter_septemberplus.csv')

### 선수기록 - 투수 크롤링

In [9]:
# 투수 url 설정
url = 'https://www.koreabaseball.com/Record/Player/PitcherBasic/Situation.aspx'

# 크롬드라이버 시작
driver = webdriver.Chrome(path)
driver.get(url)
time.sleep(10)

# 월별 -> 8월 선택
select = Select(driver.find_element_by_xpath('//*[@id="cphContents_cphContents_cphContents_ddlSituation_ddlSituation"]'))
select.select_by_visible_text('월별')
time.sleep(10)
select = Select(driver.find_element_by_xpath('//*[@id="cphContents_cphContents_cphContents_ddlSituationDetail_ddlSituationDetail"]'))
select.select_by_visible_text('8월')
time.sleep(10)

# 크롤링 시작
table_df_list = []

for i in range(1, 8):
    
    # 해당 페이지 테이블 크롤링
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table')
    table_html = str(table)
    table_df = pd.read_html(table_html)
    table_df = table_df[0]
    table_df_list.append(table_df)
    
    time.sleep(10)
    
    # 다음 페이지로 이동
    if i%5==1:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo2"]'
    elif i%5==2:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo3"]'
    elif i%5==3:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo4"]'
    elif i%5==4:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo5"]'
    else:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNext"]'
    try:
        driver.find_element_by_xpath(pagexpath).click()
    except:
        break
    
    time.sleep(10)

# 크롬드라이버 종료
driver.quit()

In [10]:
# 투수 8월 테이블 -> ok
pitcher_august = pd.concat(table_df_list)
pitcher_august.reset_index(drop=True, inplace=True)
pitcher_august

      순위    선수명   팀명   H  2B  3B  HR  BB  HBP  SO  WP  BK    AVG
0      1    김동혁   키움   0   0   0   0   0    1   0   0   0      -
1      1    박준표  KIA   0   0   0   0   0    0   1   0   0  0.000
2      1    심창민   삼성   0   0   0   0   0    0   0   0   0  0.000
3      1    이상민   삼성   0   0   0   0   0    0   1   0   0  0.000
4      1    문동욱   한화   0   0   0   0   2    1   0   0   0  0.000
..   ...    ...  ...  ..  ..  ..  ..  ..  ...  ..  ..  ..    ...
193  194   알칸타라   두산  35   5   1   3   4    0  24   0   1  0.282
194  195    서폴드   한화  38   7   0   7   4    2  18   4   0  0.355
195  196     가뇽  KIA  40   6   2   1  18    1  19   3   0  0.374
196  197     핀토   SK  42   5   0   6  14    1  22   4   1  0.389
197  197  데스파이네   KT  42   1   0   3  16    0  30   3   0  0.307

[198 rows x 13 columns]

In [11]:
pitcher_august.to_csv('../../data/kbo_record_pitcher_august.csv')

In [12]:
# 투수 url 설정
url = 'https://www.koreabaseball.com/Record/Player/PitcherBasic/Situation.aspx'

# 크롬드라이버 시작
driver = webdriver.Chrome(path)
driver.get(url)
time.sleep(10)

# 월별 -> 9월 이상 선택
select = Select(driver.find_element_by_xpath('//*[@id="cphContents_cphContents_cphContents_ddlSituation_ddlSituation"]'))
select.select_by_visible_text('월별')
time.sleep(10)
select = Select(driver.find_element_by_xpath('//*[@id="cphContents_cphContents_cphContents_ddlSituationDetail_ddlSituationDetail"]'))
select.select_by_visible_text('9월 이상')
time.sleep(10)

# 크롤링 시작
table_df_list = []

for i in range(1, 8):
    
    # 해당 페이지 테이블 크롤링
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table')
    table_html = str(table)
    table_df = pd.read_html(table_html)
    table_df = table_df[0]
    table_df_list.append(table_df)
    
    time.sleep(10)
    
    # 다음 페이지로 이동
    if i%5==1:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo2"]'
    elif i%5==2:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo3"]'
    elif i%5==3:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo4"]'
    elif i%5==4:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo5"]'
    else:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNext"]'
    try:
        driver.find_element_by_xpath(pagexpath).click()
    except:
        break
    
    time.sleep(10)

# 크롬드라이버 종료
driver.quit()

In [13]:
# 투수 9월 이상 테이블 -> ok
pitcher_september = pd.concat(table_df_list)
pitcher_september.reset_index(drop=True, inplace=True)
pitcher_september

      순위  선수명   팀명   H  2B  3B  HR  BB  HBP  SO  WP  BK    AVG
0      1  이상동   KT   0   0   0   0   1    0   0   0   0  0.000
1      1  박진태  KIA   0   0   0   0   2    0   1   0   0  0.000
2      1  서덕원  KIA   0   0   0   0   0    0   0   0   0  0.000
3      4  이주엽   두산   1   1   0   0   4    0   0   0   0  0.500
4      4  안우진   키움   1   0   0   1   1    0   2   0   0  0.125
..   ...  ...  ...  ..  ..  ..  ..  ..  ...  ..  ..  ..    ...
180  181  뷰캐넌   삼성  26   3   0   2   9    1  25   0   0  0.252
181  181  원태인   삼성  26   4   0   3   5    1  10   0   0  0.342
182  181  최채흥   삼성  26   6   0   0   7    0  28   0   0  0.274
183  184   윌슨   LG  29   5   1   0   0    2   9   0   0  0.358
184  184  장시환   한화  29  10   0   1  13    1  15   2   0  0.293

[185 rows x 13 columns]

In [14]:
pitcher_september.to_csv('../../data/kbo_record_pitcher_septemberplus.csv')

### 선수기록 - 수비 크롤링

In [15]:
# 수비 url 설정
url = 'https://www.koreabaseball.com/Record/Player/Defense/Basic.aspx'

# 크롬드라이버 시작
driver = webdriver.Chrome(path)
driver.get(url)

time.sleep(10)

# 크롤링 시작
table_df_list = []

for i in range(1, 29):
    
    # 해당 페이지 테이블 크롤링
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table')
    table_html = str(table)
    table_df = pd.read_html(table_html)
    table_df = table_df[0]
    table_df_list.append(table_df)
    
    time.sleep(10)
    
    # 다음 페이지로 이동
    if i%5==1:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo2"]'
    elif i%5==2:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo3"]'
    elif i%5==3:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo4"]'
    elif i%5==4:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo5"]'
    else:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNext"]'
    try:
        driver.find_element_by_xpath(pagexpath).click()
    except:
        break
    
    time.sleep(10)

# 크롬드라이버 종료
driver.quit()

In [16]:
# 수비 테이블 -> ok
defense = pd.concat(table_df_list)
defense.reset_index(drop=True, inplace=True)
defense

,순위,선수명,팀명,POS,G,GS,IP,E,PKO,PO,A,DP,FPCT,PB,SB,CS,CS%
0,1,심우준,KT,유격수,112,103,898 2/3,16,0,175,335,71,0.97,0,0,0,-
1,2,오지환,LG,유격수,111,108,895,11,0,142,303,69,0.976,0,0,0,-
2,2,배정대,KT,중견수,111,110,952,4,0,286,10,2,0.987,0,0,0,-
3,2,마차도,롯데,유격수,111,108,939 2/3,7,0,185,307,73,0.986,0,0,0,-
4,5,정수빈,두산,중견수,110,102,908 1/3,1,0,275,7,3,0.996,0,0,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,732,배성근,롯데,유격수,1,1,7,0,0,0,2,0,1.000,0,0,0,-
824,732,신용수,롯데,3루수,1,0,1/3,0,0,0,0,0,-,0,0,0,-
825,732,안치홍,롯데,1루수,1,0,6 1/3,0,0,6,0,0,1.000,0,0,0,-
826,732,정태승,롯데,투수,1,0,1 2/3,0,0,0,0,0,-,0,0,0,-
827,732,추재현,롯데,좌익수,1,1,9,0,0,0,0,0,-,0,0,0,-

In [17]:
defense.to_csv('../../data/kbo_record_defense.csv')

### 선수기록 - 주루 크롤링

In [18]:
# 주루 url 설정
url = 'https://www.koreabaseball.com/Record/Player/Runner/Basic.aspx'

# 크롬드라이버 시작
driver = webdriver.Chrome(path)
driver.get(url)

time.sleep(10)

# 크롤링 시작
table_df_list = []

for i in range(1, 13):
    
    # 해당 페이지 테이블 크롤링
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table')
    table_html = str(table)
    table_df = pd.read_html(table_html)
    table_df = table_df[0]
    table_df_list.append(table_df)
    
    time.sleep(10)
    
    # 다음 페이지로 이동
    if i%5==1:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo2"]'
    elif i%5==2:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo3"]'
    elif i%5==3:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo4"]'
    elif i%5==4:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNo5"]'
    else:
        pagexpath = '//*[@id="cphContents_cphContents_cphContents_ucPager_btnNext"]'
    try:
        driver.find_element_by_xpath(pagexpath).click()
    except:
        break
    
    time.sleep(10)

# 크롬드라이버 종료
driver.quit()

In [19]:
# 주루 테이블
runner = pd.concat(table_df_list)
runner.reset_index(drop=True, inplace=True)
runner

      순위  선수명  팀명    G  SBA  SB  CS   SB%  OOB  PKO
0      1  서건창  키움  110   31  23   8  74.2    8    1
1      2  심우준  KT  112   33  22  11  66.7    3    1
2      3  김혜성  키움  116   28  21   7    75    2    3
3      4  박해민  삼성  102   29  20   9    69    3    2
4      5  김하성  키움  113   19  19   0   100    5    0
..   ...  ...  ..  ...  ...  ..  ..   ...  ...  ...
348  123  지성준  롯데    3    0   0   0     -    0    0
349  123  진명호  롯데    1    0   0   0     -    0    0
350  123  추재현  롯데   13    0   0   0     -    0    0
351  123  한동희  롯데  102    2   0   2   0.0    4    0
352  123   허일  롯데   50    0   0   0     -    1    0

[353 rows x 10 columns]

In [20]:
runner.to_csv('../../data/kbo_record_runner.csv')