In [1]:
import numpy as np
import pandas as pd

In [2]:
pa_p = pd.read_csv("https://raw.githubusercontent.com/njj06135/Baseball_ChilliShrimp/master/data/pitcher_predict_pa.csv")
modeling_p = pd.read_csv("https://raw.githubusercontent.com/njj06135/Baseball_ChilliShrimp/master/data/pitcher_feature_selection.csv")

### pitcher

In [3]:
pitcher = modeling_p.loc[(modeling_p['year']==2020) & (modeling_p['month']>7)]

In [4]:
pitcher = pitcher[['T_ID', 'P_ID']].drop_duplicates()

In [5]:
pa_p['P_ID']=pa_p['P_ID'].astype('int')

In [6]:
pa_p

     year  month   P_ID   PA
0    2020     10  69054    3
1    2020     10  67646    5
2    2020     10  66663    9
3    2020     10  50262    7
4    2020     10  68341    9
..    ...    ...    ...  ...
180  2020     10  50404  115
181  2020     10  69446   82
182  2020     10  68419  104
183  2020     10  68135  112
184  2020     10  77318  117

[185 rows x 4 columns]

In [7]:
pitcher_left= pd.merge(pa_p, pitcher, left_on='P_ID', right_on='P_ID', how='left')
pitcher_left

     year  month   P_ID   PA T_ID
0    2020     10  69054    3   KT
1    2020     10  67646    5   HT
2    2020     10  66663    9   HT
3    2020     10  50262    7   OB
4    2020     10  68341    9   WO
..    ...    ...    ...  ...  ...
180  2020     10  50404  115   SS
181  2020     10  69446   82   SS
182  2020     10  68419  104   SS
183  2020     10  68135  112   LG
184  2020     10  77318  117   HH

[185 rows x 5 columns]

In [8]:
pitcher_tidy = pd.read_csv("https://raw.githubusercontent.com/njj06135/Baseball_ChilliShrimp/master/data/batter_tidy.csv")

In [9]:
babip_total = pitcher_tidy.groupby(['P_ID']).sum()

In [10]:
babip_total['BABIP'] = (babip_total['HIT'] - babip_total['HR']) / (babip_total['AB'] - babip_total['KK'] - babip_total['HR'] + babip_total['SF'])

In [11]:
babip_total = babip_total[['BABIP']]

In [12]:
babip_total

          BABIP
P_ID
50054  0.250000
50066  0.277778
50150  0.434783
50165  0.331950
50202  0.240000
...         ...
99445       NaN
99563       NaN
99606  0.362687
99737       NaN
99810  0.341646

[737 rows x 1 columns]

In [13]:
pitcher_2020 = pitcher_tidy.loc[pitcher_tidy.year == 2020, :]
pitcher_2020 = pitcher_2020.groupby(['P_ID']).sum()

In [14]:
pitcher_2020['BABIP_2020'] = (pitcher_2020['HIT'] - pitcher_2020['HR']) / (pitcher_2020['AB'] - pitcher_2020['KK'] - pitcher_2020['HR'] + pitcher_2020['SF'])

In [15]:
babip_2020 = pitcher_2020[['BABIP_2020']]

In [16]:
babip_total['P_ID'] = babip_total.index
babip_total = babip_total.reset_index(drop = True)

In [17]:
babip_2020['P_ID'] = babip_2020.index

C:\Users\dhxog\anaconda3\envs\my\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
babip_2020 = babip_2020.reset_index(drop = True)

In [19]:
pitcher_left= pd.merge(pitcher_left, babip_total, left_on='P_ID', right_on='P_ID', how='left')
pitcher_left= pd.merge(pitcher_left, babip_2020, left_on='P_ID', right_on='P_ID', how='left')

In [20]:
pitcher_left

     year  month   P_ID   PA T_ID  BABIP  BABIP_2020
0    2020     10  69054    3   KT    NaN         NaN
1    2020     10  67646    5   HT    NaN         NaN
2    2020     10  66663    9   HT    NaN         NaN
3    2020     10  50262    7   OB    NaN         NaN
4    2020     10  68341    9   WO    NaN         NaN
..    ...    ...    ...  ...  ...    ...         ...
180  2020     10  50404  115   SS    NaN         NaN
181  2020     10  69446   82   SS    NaN         NaN
182  2020     10  68419  104   SS    NaN         NaN
183  2020     10  68135  112   LG    NaN         NaN
184  2020     10  77318  117   HH    NaN         NaN

[185 rows x 7 columns]

In [21]:
pitcher_left['total_BABIP']=pitcher_left['BABIP_2020']-(pitcher_left['BABIP_2020']-pitcher_left['BABIP'])/5
pitcher_left

     year  month   P_ID   PA T_ID  BABIP  BABIP_2020  total_BABIP
0    2020     10  69054    3   KT    NaN         NaN          NaN
1    2020     10  67646    5   HT    NaN         NaN          NaN
2    2020     10  66663    9   HT    NaN         NaN          NaN
3    2020     10  50262    7   OB    NaN         NaN          NaN
4    2020     10  68341    9   WO    NaN         NaN          NaN
..    ...    ...    ...  ...  ...    ...         ...          ...
180  2020     10  50404  115   SS    NaN         NaN          NaN
181  2020     10  69446   82   SS    NaN         NaN          NaN
182  2020     10  68419  104   SS    NaN         NaN          NaN
183  2020     10  68135  112   LG    NaN         NaN          NaN
184  2020     10  77318  117   HH    NaN         NaN          NaN

[185 rows x 8 columns]

In [22]:
data =pitcher_tidy.copy()

In [23]:
df1 = data.copy()
df1.head()

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,BB,...,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY
0,2016,4,60146,LG,0,0,0,0,0,0,...,2,0,3,3,0,3,2,3,10,12
1,2016,4,60263,NC,0,0,0,0,0,0,...,0,3,4,0,3,3,3,2,9,14
2,2016,4,60404,HH,12,2,0,0,0,0,...,0,4,3,3,6,0,2,3,12,11
3,2016,4,60456,SS,65,15,3,1,0,5,...,6,2,3,3,4,0,0,0,10,13
4,2016,4,60523,LT,91,22,4,1,0,7,...,3,3,0,4,0,3,3,3,14,11

In [24]:
df1 = df1.loc[df1['year']==2020]

In [25]:
df1

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,BB,...,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY
6273,2020,5,50066,KT,16,4,2,0,0,1,...,0,3,3,3,2,0,3,3,12,11
6274,2020,5,50150,LG,0,0,0,0,0,0,...,3,0,0,2,3,3,3,2,11,11
6275,2020,5,50165,LG,80,30,5,0,10,10,...,3,0,0,2,3,3,3,2,11,11
6276,2020,5,50202,OB,14,3,0,0,0,1,...,2,3,6,3,0,3,3,0,11,12
6277,2020,5,50300,WO,35,4,0,0,1,1,...,3,2,3,3,0,3,3,0,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7419,2020,9,63435,SS,4,0,0,0,0,0,...,4,2,2,3,4,2,0,2,13,11
7420,2020,9,69418,SS,0,0,0,0,0,0,...,4,2,2,3,4,2,0,2,13,11
7421,2020,9,61457,SS,0,0,0,0,0,0,...,4,2,2,3,4,2,0,2,13,11
7422,2020,9,66707,HH,7,0,0,0,0,0,...,2,2,2,2,5,2,2,4,16,9
7423,2020,9,65522,LT,0,0,0,0,0,0,...,3,6,0,4,0,2,2,2,10,15

In [26]:
df1 = df1.groupby(['P_ID']).sum()
df1['inplay_ratio'] = (df1['AB']-df1['KK']-df1['HR']+df1['SF'])/df1['PA']

In [27]:
df1

,year,month,AB,HIT,H2,H3,HR,BB,HP,KK,...,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY,inplay_ratio
P_ID,,,,,,,,,,,,,,,,,,,,,
50054,8080,30,65,13,3,0,0,7,1,13,...,8,9,12,10,12,10,10,45,47,0.712329
50066,6060,18,25,6,2,0,1,2,0,6,...,7,9,11,5,4,7,6,36,32,0.666667
50150,10100,35,29,10,2,0,0,1,0,6,...,0,12,11,15,14,13,14,56,61,0.766667
50165,10100,35,399,114,17,2,34,51,3,128,...,0,12,11,15,14,13,14,56,61,0.517167
50202,8080,26,28,6,0,0,0,1,0,4,...,13,14,14,0,10,12,6,47,46,0.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79456,10100,35,223,68,9,2,0,15,4,25,...,14,16,13,11,13,16,0,65,59,0.808000
79545,2020,6,0,0,0,0,0,0,0,0,...,3,0,1,0,0,3,3,10,13,NaN
79608,10100,35,371,106,26,0,6,32,7,44,...,12,0,10,14,12,13,16,56,60,0.778571
79705,4040,11,18,3,1,0,0,3,1,6,...,6,6,9,2,6,3,6,23,24,0.600000
79847,4040,17,0,0,0,0,0,0,0,0,...,3,6,6,4,0,6,4,21,27,NaN

In [28]:
df1['P_ID'] = df1.index

In [29]:
df1 = df1.reset_index(drop = True)

In [30]:
df1

,year,month,AB,HIT,H2,H3,HR,BB,HP,KK,...,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY,inplay_ratio,P_ID
0,8080,30,65,13,3,0,0,7,1,13,...,9,12,10,12,10,10,45,47,0.712329,50054
1,6060,18,25,6,2,0,1,2,0,6,...,9,11,5,4,7,6,36,32,0.666667,50066
2,10100,35,29,10,2,0,0,1,0,6,...,12,11,15,14,13,14,56,61,0.766667,50150
3,10100,35,399,114,17,2,34,51,3,128,...,12,11,15,14,13,14,56,61,0.517167,50165
4,8080,26,28,6,0,0,0,1,0,4,...,14,14,0,10,12,6,47,46,0.833333,50202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,10100,35,223,68,9,2,0,15,4,25,...,16,13,11,13,16,0,65,59,0.808000,79456
350,2020,6,0,0,0,0,0,0,0,0,...,0,1,0,0,3,3,10,13,NaN,79545
351,10100,35,371,106,26,0,6,32,7,44,...,0,10,14,12,13,16,56,60,0.778571,79608
352,4040,11,18,3,1,0,0,3,1,6,...,6,9,2,6,3,6,23,24,0.600000,79705
353,4040,17,0,0,0,0,0,0,0,0,...,6,6,4,0,6,4,21,27,NaN,79847

In [31]:
df1.isna().sum()

year             0
month            0
AB               0
HIT              0
H2               0
H3               0
HR               0
BB               0
HP               0
KK               0
GD               0
PA               0
SB               0
CS               0
SF               0
BAT_ORDER        0
stadium_MH       0
stadium_MS       0
stadium_JS       0
stadium_SW       0
stadium_DJ       0
stadium_DG       0
stadium_GJ       0
stadium_GC       0
stadium_SJ       0
stadium_PH       0
stadium_US       0
stadium_CJ       0
stadium_CW       0
VS_T_ID_HH       0
VS_T_ID_HT       0
VS_T_ID_KT       0
VS_T_ID_LG       0
VS_T_ID_LT       0
VS_T_ID_NC       0
VS_T_ID_OB       0
VS_T_ID_SK       0
VS_T_ID_SS       0
VS_T_ID_WO       0
HOME             0
AWAY             0
inplay_ratio    77
P_ID             0
dtype: int64

In [32]:
df1['P_ID']=df1['P_ID'].astype('int')

In [33]:
pitcher_left

     year  month   P_ID   PA T_ID  BABIP  BABIP_2020  total_BABIP
0    2020     10  69054    3   KT    NaN         NaN          NaN
1    2020     10  67646    5   HT    NaN         NaN          NaN
2    2020     10  66663    9   HT    NaN         NaN          NaN
3    2020     10  50262    7   OB    NaN         NaN          NaN
4    2020     10  68341    9   WO    NaN         NaN          NaN
..    ...    ...    ...  ...  ...    ...         ...          ...
180  2020     10  50404  115   SS    NaN         NaN          NaN
181  2020     10  69446   82   SS    NaN         NaN          NaN
182  2020     10  68419  104   SS    NaN         NaN          NaN
183  2020     10  68135  112   LG    NaN         NaN          NaN
184  2020     10  77318  117   HH    NaN         NaN          NaN

[185 rows x 8 columns]

In [34]:
pitcher_left

     year  month   P_ID   PA T_ID  BABIP  BABIP_2020  total_BABIP
0    2020     10  69054    3   KT    NaN         NaN          NaN
1    2020     10  67646    5   HT    NaN         NaN          NaN
2    2020     10  66663    9   HT    NaN         NaN          NaN
3    2020     10  50262    7   OB    NaN         NaN          NaN
4    2020     10  68341    9   WO    NaN         NaN          NaN
..    ...    ...    ...  ...  ...    ...         ...          ...
180  2020     10  50404  115   SS    NaN         NaN          NaN
181  2020     10  69446   82   SS    NaN         NaN          NaN
182  2020     10  68419  104   SS    NaN         NaN          NaN
183  2020     10  68135  112   LG    NaN         NaN          NaN
184  2020     10  77318  117   HH    NaN         NaN          NaN

[185 rows x 8 columns]

In [35]:
data = data.loc[(data['year']==2020) & (data['month']==9)]

In [36]:
data

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,BB,...,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY
7197,2020,9,65304,WO,2,2,0,0,0,0,...,2,2,2,2,5,4,2,0,14,13
7198,2020,9,64012,KT,7,4,1,0,1,2,...,0,2,3,2,4,4,4,2,13,12
7199,2020,9,68204,OB,4,2,1,0,0,0,...,4,2,0,2,0,2,4,5,14,11
7200,2020,9,66203,OB,6,3,1,0,0,0,...,4,2,0,2,0,2,4,5,14,11
7201,2020,9,50293,OB,2,1,0,0,0,0,...,4,2,0,2,0,2,4,5,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7419,2020,9,63435,SS,4,0,0,0,0,0,...,4,2,2,3,4,2,0,2,13,11
7420,2020,9,69418,SS,0,0,0,0,0,0,...,4,2,2,3,4,2,0,2,13,11
7421,2020,9,61457,SS,0,0,0,0,0,0,...,4,2,2,3,4,2,0,2,13,11
7422,2020,9,66707,HH,7,0,0,0,0,0,...,2,2,2,2,5,2,2,4,16,9
7423,2020,9,65522,LT,0,0,0,0,0,0,...,3,6,0,4,0,2,2,2,10,15

In [37]:
p_id = data['P_ID'].reset_index(drop = True)

In [38]:
pitcher_2020 = pd.DataFrame()

for i in range(len(p_id)):
    pid = p_id[i]
    pitcher = df1.loc[df1.P_ID == pid,:]
    pitcher_2020 = pitcher_2020.append(pitcher)

In [39]:
pitcher_2020 = pitcher_2020.reset_index(drop = True)

In [40]:
pitcher_2020

,year,month,AB,HIT,H2,H3,HR,BB,HP,KK,...,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY,inplay_ratio,P_ID
0,4040,17,2,2,0,0,0,0,0,0,...,7,4,5,4,6,0,29,24,0.666667,65304
1,10100,35,33,6,1,0,1,4,0,12,...,12,15,12,12,13,13,57,58,0.550000,64012
2,8080,30,47,12,1,0,0,3,0,13,...,8,13,0,9,13,11,50,45,0.703704,68204
3,6060,23,22,6,2,0,0,2,0,6,...,6,12,0,6,13,6,35,37,0.680000,66203
4,4040,15,17,4,0,0,0,3,1,2,...,0,8,0,4,7,6,23,25,0.714286,50293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,4040,14,8,1,0,0,0,0,0,2,...,5,9,7,2,0,5,28,20,0.750000,63435
223,10100,35,168,44,11,0,1,7,2,28,...,13,10,16,12,0,16,62,56,0.790055,69418
224,2020,9,0,0,0,0,0,0,0,0,...,2,3,4,2,0,2,13,11,NaN,61457
225,8080,30,34,6,2,0,0,0,1,13,...,10,12,10,10,11,10,50,44,0.600000,66707
226,4040,17,3,0,0,0,0,1,0,2,...,0,6,6,6,4,7,25,23,0.250000,65522

In [41]:
pitcher_left= pd.merge(pitcher_left, df1[['P_ID','inplay_ratio']], left_on='P_ID', right_on='P_ID', how='left')

In [42]:
pitcher_left.index = pitcher_left['P_ID']
df1 = df1.reset_index(drop = True)

In [43]:
pitcher_left = pitcher_left.reset_index(drop = True)

In [44]:
pitcher_2020['inplay'] = pitcher_2020['AB'] - pitcher_2020['KK'] - pitcher_2020['HR'] + pitcher_2020['SF']

In [45]:
pitcher_2020['inplay_hit'] = pitcher_2020['HIT'] - pitcher_2020['HR']

In [46]:
pitcher_left= pd.merge(pitcher_left, pitcher_2020[['P_ID', 'inplay', 'inplay_hit']], left_on='P_ID', right_on='P_ID', how='left')

In [47]:
pitcher_left

,year,month,P_ID,PA,T_ID,BABIP,BABIP_2020,total_BABIP,inplay_ratio,inplay,inplay_hit
0,2020,10,69054,3,KT,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,10,67646,5,HT,NaN,NaN,NaN,NaN,NaN,NaN
2,2020,10,66663,9,HT,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,10,50262,7,OB,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,10,68341,9,WO,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,115,SS,NaN,NaN,NaN,NaN,NaN,NaN
181,2020,10,69446,82,SS,NaN,NaN,NaN,NaN,NaN,NaN
182,2020,10,68419,104,SS,NaN,NaN,NaN,NaN,NaN,NaN
183,2020,10,68135,112,LG,NaN,NaN,NaN,NaN,NaN,NaN
184,2020,10,77318,117,HH,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
pitcher_left['pred_inplay'] = pitcher_left['PA'] * pitcher_left['inplay_ratio']

In [49]:
pitcher_left

,year,month,P_ID,PA,T_ID,BABIP,BABIP_2020,total_BABIP,inplay_ratio,inplay,inplay_hit,pred_inplay
0,2020,10,69054,3,KT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,10,67646,5,HT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020,10,66663,9,HT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,10,50262,7,OB,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,10,68341,9,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,115,SS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,2020,10,69446,82,SS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,2020,10,68419,104,SS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,2020,10,68135,112,LG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,2020,10,77318,117,HH,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
pitcher_left['pred_inplay_hit'] = pitcher_left['total_BABIP'] * (pitcher_left['inplay'] + pitcher_left['pred_inplay']) - pitcher_left['inplay_hit']

In [51]:
pitcher_left = pitcher_left[['year', 'month', 'P_ID', 'T_ID', 'PA', 'pred_inplay_hit', 'BABIP']]

In [52]:
pitcher_left = pitcher_left.fillna(0)

In [53]:
pitcher_left.pred_inplay_hit[pitcher_left.pred_inplay_hit < 0.0 ]=0

C:\Users\dhxog\anaconda3\envs\my\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
pitcher_left

     year  month   P_ID T_ID   PA  pred_inplay_hit  BABIP
0    2020     10  69054   KT    3              0.0    0.0
1    2020     10  67646   HT    5              0.0    0.0
2    2020     10  66663   HT    9              0.0    0.0
3    2020     10  50262   OB    7              0.0    0.0
4    2020     10  68341   WO    9              0.0    0.0
..    ...    ...    ...  ...  ...              ...    ...
180  2020     10  50404   SS  115              0.0    0.0
181  2020     10  69446   SS   82              0.0    0.0
182  2020     10  68419   SS  104              0.0    0.0
183  2020     10  68135   LG  112              0.0    0.0
184  2020     10  77318   HH  117              0.0    0.0

[185 rows x 7 columns]

In [55]:
pitcher_2020_ratio = pd.read_csv("https://raw.githubusercontent.com/njj06135/Baseball_ChilliShrimp/master/data/pitcher_2020_ratio.csv")

In [56]:
pitcher_left = pd.merge(pitcher_left, pitcher_2020_ratio, left_on='P_ID', right_on='P_ID', how='left')

In [57]:
pitcher_left

,year,month,P_ID,T_ID,PA,pred_inplay_hit,BABIP,H2_rate,H3_rate,HR_rate,BB_rate,HP_rate,KK_rate,BK_rate,SF_rate
0,2020,10,69054,KT,3,0.0,0.0,0.454545,0.000000,0.000000,0.120000,0.000000,0.080000,0.000000,0.040000
1,2020,10,67646,HT,5,0.0,0.0,0.117647,0.000000,0.294118,0.186441,0.033898,0.135593,0.000000,0.000000
2,2020,10,66663,HT,9,0.0,0.0,0.166667,0.000000,0.333333,0.050000,0.025000,0.075000,0.000000,0.000000
3,2020,10,50262,OB,7,0.0,0.0,0.333333,0.000000,0.000000,0.368421,0.000000,0.105263,0.000000,0.052632
4,2020,10,68341,WO,9,0.0,0.0,0.076923,0.000000,0.153846,0.135417,0.000000,0.291667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,SS,115,0.0,0.0,0.114094,0.013423,0.093960,0.070740,0.011254,0.155949,0.000000,0.016077
181,2020,10,69446,SS,82,0.0,0.0,0.178862,0.008130,0.113821,0.081420,0.010438,0.125261,0.000000,0.000000
182,2020,10,68419,SS,104,0.0,0.0,0.214953,0.000000,0.074766,0.086207,0.015086,0.193966,0.002155,0.006466
183,2020,10,68135,LG,112,0.0,0.0,0.135714,0.014286,0.078571,0.062500,0.013514,0.162162,0.001689,0.062500
184,2020,10,77318,HH,117,0.0,0.0,0.190476,0.007937,0.087302,0.115672,0.011194,0.199627,0.000000,0.014925

In [58]:
pitcher_left['HR'] = (pitcher_left['HR_rate']*pitcher_left['pred_inplay_hit'])/(1-pitcher_left['HR_rate'])

In [59]:
pitcher_left['HIT'] = pitcher_left['HR'] + pitcher_left['pred_inplay_hit']

In [60]:
pitcher_left['H2'] = pitcher_left['HIT']*pitcher_left['H2_rate']
pitcher_left['H3'] = pitcher_left['HIT']*pitcher_left['H3_rate']

In [61]:
pitcher_left = pitcher_left.fillna(0)

In [62]:
pitcher_left['BB'] = pitcher_left['PA'] * pitcher_left['BB_rate']
pitcher_left['HP'] = pitcher_left['PA'] * pitcher_left['HP_rate']
pitcher_left['SF'] = pitcher_left['PA'] * pitcher_left['SF_rate']

pitcher_left['AB'] = pitcher_left['PA'] - pitcher_left['BB'] - pitcher_left['HP'] - pitcher_left['SF']

In [63]:
pitcher_left['AVG'] = pitcher_left['HIT'] / pitcher_left['AB']
pitcher_left['OBP'] = (pitcher_left['HIT'] + pitcher_left['BB'] + pitcher_left['HP']) / pitcher_left['PA']
pitcher_left['SLG'] = ((pitcher_left['HIT'] - pitcher_left['H2'] - pitcher_left['H3'] - pitcher_left['HR']) + 2 * pitcher_left['H2'] + 3 * pitcher_left['H3'] + 4 * pitcher_left['HR']) / pitcher_left['AB']
pitcher_left['OPS'] = pitcher_left['OBP'] + pitcher_left['SLG']

In [64]:
pitcher_left

,year,month,P_ID,T_ID,PA,pred_inplay_hit,BABIP,H2_rate,H3_rate,HR_rate,...,H2,H3,BB,HP,SF,AB,AVG,OBP,SLG,OPS
0,2020,10,69054,KT,3,0.0,0.0,0.454545,0.000000,0.000000,...,0.0,0.0,0.360000,0.000000,0.120000,2.520000,0.0,0.120000,0.0,0.120000
1,2020,10,67646,HT,5,0.0,0.0,0.117647,0.000000,0.294118,...,0.0,0.0,0.932203,0.169492,0.000000,3.898305,0.0,0.220339,0.0,0.220339
2,2020,10,66663,HT,9,0.0,0.0,0.166667,0.000000,0.333333,...,0.0,0.0,0.450000,0.225000,0.000000,8.325000,0.0,0.075000,0.0,0.075000
3,2020,10,50262,OB,7,0.0,0.0,0.333333,0.000000,0.000000,...,0.0,0.0,2.578947,0.000000,0.368421,4.052632,0.0,0.368421,0.0,0.368421
4,2020,10,68341,WO,9,0.0,0.0,0.076923,0.000000,0.153846,...,0.0,0.0,1.218750,0.000000,0.000000,7.781250,0.0,0.135417,0.0,0.135417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,SS,115,0.0,0.0,0.114094,0.013423,0.093960,...,0.0,0.0,8.135048,1.294212,1.848875,103.721865,0.0,0.081994,0.0,0.081994
181,2020,10,69446,SS,82,0.0,0.0,0.178862,0.008130,0.113821,...,0.0,0.0,6.676409,0.855950,0.000000,74.467641,0.0,0.091858,0.0,0.091858
182,2020,10,68419,SS,104,0.0,0.0,0.214953,0.000000,0.074766,...,0.0,0.0,8.965517,1.568966,0.672414,92.793103,0.0,0.101293,0.0,0.101293
183,2020,10,68135,LG,112,0.0,0.0,0.135714,0.014286,0.078571,...,0.0,0.0,7.000000,1.513514,7.000000,96.486486,0.0,0.076014,0.0,0.076014
184,2020,10,77318,HH,117,0.0,0.0,0.190476,0.007937,0.087302,...,0.0,0.0,13.533582,1.309701,1.746269,100.410448,0.0,0.126866,0.0,0.126866

In [65]:
pitcher_feature = modeling_p.copy()

In [66]:
pitcher_feature = pitcher_feature.loc[pitcher_feature.year == 2020, : ]

In [67]:
pitcher_feature.columns

Index(['year', 'month', 'P_ID', 'T_ID', 'PA', 'R', 'stadium_MH', 'stadium_MS',
       'stadium_JS', 'stadium_SW', 'stadium_DJ', 'stadium_DG', 'stadium_GJ',
       'stadium_GC', 'stadium_SJ', 'stadium_PH', 'stadium_US', 'stadium_CJ',
       'stadium_CW', 'VS_T_ID_HH', 'VS_T_ID_HT', 'VS_T_ID_KT', 'VS_T_ID_LG',
       'VS_T_ID_LT', 'VS_T_ID_NC', 'VS_T_ID_OB', 'VS_T_ID_SK', 'VS_T_ID_SS',
       'VS_T_ID_WO', 'HOME', 'AWAY', 'BABIP', 'FIP', 'kwERA', 'SB_try',
       'SB_succ', 'GD_rate', 'H2_rate', 'H3_rate', 'HR_rate', 'BB_rate',
       'HP_rate', 'KK_rate', 'BK_rate', 'AVG', 'OBP', 'SLG', 'OPS', 'ER_rate',
       'ERR_rate'],
      dtype='object')

In [68]:
pitcher_feature = pitcher_feature[['P_ID', 'SB_try', 'SB_succ', 'GD_rate', 'ERR_rate', 'ER_rate']].drop_duplicates()
pitcher_feature = pitcher_feature.fillna(0)

In [69]:
pitcher_feature = pitcher_feature.groupby(['P_ID']).mean()
pitcher_feature['P_ID'] = pitcher_feature.index
pitcher_feature = pitcher_feature.reset_index(drop = True)

In [70]:
pitcher_left = pd.merge(pitcher_left, pitcher_feature, left_on='P_ID', right_on='P_ID', how='left')

In [71]:
pitcher_left['KK'] = pitcher_left['PA'] * pitcher_left['KK_rate']
pitcher_left['BB'] = pitcher_left['PA'] * pitcher_left['BB_rate']
pitcher_left['HP'] = pitcher_left['PA'] * pitcher_left['HP_rate']
pitcher_left['FIP'] = (pitcher_left['HR'] * 13 + 3*(pitcher_left['BB'] + pitcher_left['HP']) - 3 * pitcher_left['KK']) / ((pitcher_left['PA'] - pitcher_left['HIT'] - pitcher_left['BB'] - pitcher_left['HP'])/3)


pitcher_left = pitcher_left.fillna(0)

pitcher_left['FIP'] = pitcher_left['FIP'] + 3.69

In [72]:
pitcher_left

,year,month,P_ID,T_ID,PA,pred_inplay_hit,BABIP,H2_rate,H3_rate,HR_rate,...,OBP,SLG,OPS,SB_try,SB_succ,GD_rate,ERR_rate,ER_rate,KK,FIP
0,2020,10,69054,KT,3,0.0,0.0,0.454545,0.000000,0.000000,...,0.120000,0.0,0.120000,0.019231,0.000000,0.019231,0.001187,0.500000,0.240000,4.099091
1,2020,10,67646,HT,5,0.0,0.0,0.117647,0.000000,0.294118,...,0.220339,0.0,0.220339,0.024590,0.888889,0.032787,0.002572,0.500000,0.677966,4.668261
2,2020,10,66663,HT,9,0.0,0.0,0.166667,0.000000,0.333333,...,0.075000,0.0,0.075000,0.000000,0.000000,0.000000,0.002572,1.000000,0.675000,3.690000
3,2020,10,50262,OB,7,0.0,0.0,0.333333,0.000000,0.000000,...,0.368421,0.0,0.368421,0.000000,0.000000,0.000000,0.002351,1.000000,0.736842,7.440000
4,2020,10,68341,WO,9,0.0,0.0,0.076923,0.000000,0.153846,...,0.135417,0.0,0.135417,0.031397,0.700000,0.017268,0.001983,0.500000,2.625000,2.063494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,SS,115,0.0,0.0,0.114094,0.013423,0.093960,...,0.081994,0.0,0.081994,0.000000,0.000000,0.058309,0.004411,0.907692,17.934084,2.964956
181,2020,10,69446,SS,82,0.0,0.0,0.178862,0.008130,0.113821,...,0.091858,0.0,0.091858,0.023166,0.833333,0.016731,0.004411,0.904167,10.271399,3.358966
182,2020,10,68419,SS,104,0.0,0.0,0.214953,0.000000,0.074766,...,0.101293,0.0,0.101293,0.018626,0.750000,0.022119,0.004411,0.834535,20.172414,2.761942
183,2020,10,68135,LG,112,0.0,0.0,0.135714,0.014286,0.078571,...,0.076014,0.0,0.076014,0.039863,0.785714,0.023918,0.001183,0.874391,18.162162,2.850878
184,2020,10,77318,HH,117,0.0,0.0,0.190476,0.007937,0.087302,...,0.126866,0.0,0.126866,0.029575,0.770833,0.023413,0.003063,0.923810,23.356343,2.940000

In [73]:
pitcher_left['kwERA'] = 5.40 - 12 * (pitcher_left['KK'] - pitcher_left['BB']) / pitcher_left['PA']
pitcher_left = pitcher_left.fillna(0)

In [74]:
pitcher_left = pitcher_left[['year', 'month', 'P_ID', 'T_ID', 'PA', 'BABIP', 'FIP', 'kwERA', 'SB_try', 'SB_succ', 'GD_rate', 'H2_rate', 'H3_rate', 'HR_rate', 'BB_rate', 'HP_rate', 'KK_rate', 'BK_rate', 'AVG', 'OBP', 'SLG', 'OPS', 'ER_rate', 'ERR_rate']]

In [75]:
schedule = pd.read_csv("https://raw.githubusercontent.com/njj06135/Baseball_ChilliShrimp/master/data/schedule.csv", encoding='CP949')

In [76]:
schedule

,year,month,T_ID,stadium_MH,stadium_MS,stadium_JS,stadium_SW,stadium_DJ,stadium_DG,stadium_GJ,...,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY
0,2016,4,HH,0,3,5,0,12,0,0,...,0,4,3,3,6,0,2,3,12,11
1,2016,4,HT,3,2,0,3,2,0,9,...,3,2,3,2,2,3,3,2,9,13
2,2016,4,KT,3,0,2,14,0,3,0,...,0,2,3,0,3,5,6,3,14,11
3,2016,4,LG,3,0,10,0,2,2,2,...,2,0,3,3,0,3,2,3,10,12
4,2016,4,LT,0,2,3,3,0,0,0,...,3,3,0,4,0,3,3,3,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,2020,10,NC,0,0,3,0,0,0,0,...,0,3,3,0,0,1,3,3,10,6
368,2020,10,OB,3,0,6,3,1,0,0,...,3,0,0,0,0,3,0,3,6,10
369,2020,10,SK,9,0,0,0,0,3,3,...,3,0,0,1,3,0,3,3,9,7
370,2020,10,SS,0,0,3,0,3,7,0,...,1,3,3,3,0,3,0,0,7,9
371,2020,10,WO,3,0,0,3,3,0,0,...,3,0,0,3,3,3,0,0,7,9

In [77]:
schedule = schedule.loc[(schedule['year']==2020) & (schedule['month']==10)]

In [78]:
schedule = schedule.drop(columns=['year', 'month'])

In [79]:
pitcher_left = pd.merge(pitcher_left, schedule, left_on='T_ID', right_on='T_ID', how='left')

In [80]:
pitcher_left

,year,month,P_ID,T_ID,PA,BABIP,FIP,kwERA,SB_try,SB_succ,...,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY
0,2020,10,69054,KT,3,0.0,4.099091,5.880000,0.019231,0.000000,...,0,3,3,0,3,3,1,3,9,7
1,2020,10,67646,HT,5,0.0,4.668261,6.010169,0.024590,0.888889,...,0,3,0,3,3,3,0,1,6,10
2,2020,10,66663,HT,9,0.0,3.690000,5.100000,0.000000,0.000000,...,0,3,0,3,3,3,0,1,6,10
3,2020,10,50262,OB,7,0.0,7.440000,8.557895,0.000000,0.000000,...,3,0,0,0,0,3,0,3,6,10
4,2020,10,68341,WO,9,0.0,2.063494,3.525000,0.031397,0.700000,...,3,0,0,3,3,3,0,0,7,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,SS,115,0.0,2.964956,4.377492,0.000000,0.000000,...,1,3,3,3,0,3,0,0,7,9
181,2020,10,69446,SS,82,0.0,3.358966,4.873904,0.023166,0.833333,...,1,3,3,3,0,3,0,0,7,9
182,2020,10,68419,SS,104,0.0,2.761942,4.106897,0.018626,0.750000,...,1,3,3,3,0,3,0,0,7,9
183,2020,10,68135,LG,112,0.0,2.850878,4.204054,0.039863,0.785714,...,3,0,4,3,0,0,3,0,10,6
184,2020,10,77318,HH,117,0.0,2.940000,4.392537,0.029575,0.770833,...,0,0,3,0,4,0,3,3,7,9

In [81]:
pitcher_left.to_csv("pitcher_for_pred.csv")