In [1]:
import numpy as np
import pandas as pd

In [2]:
pa_p = pd.read_csv("https://raw.githubusercontent.com/njj06135/Baseball_ChilliShrimp/master/data/pitcher_predict_pa.csv")
modeling_p = pd.read_csv("https://raw.githubusercontent.com/njj06135/Baseball_ChilliShrimp/master/data/pitcher_feature_selection.csv")

### pitcher

In [3]:
pitcher = modeling_p.loc[(modeling_p['year']==2020) & (modeling_p['month']>7)]

In [4]:
pitcher = pitcher[['T_ID', 'P_ID']].drop_duplicates()

In [5]:
pa_p['P_ID']=pa_p['P_ID'].astype('int')

In [6]:
pa_p

     year  month   P_ID   PA
0    2020     10  69054    3
1    2020     10  67646    5
2    2020     10  66663    9
3    2020     10  50262    7
4    2020     10  68341    9
..    ...    ...    ...  ...
180  2020     10  50404  115
181  2020     10  69446   82
182  2020     10  68419  104
183  2020     10  68135  112
184  2020     10  77318  117

[185 rows x 4 columns]

In [7]:
pitcher_left= pd.merge(pa_p, pitcher, left_on='P_ID', right_on='P_ID', how='left')
pitcher_left

     year  month   P_ID   PA T_ID
0    2020     10  69054    3   KT
1    2020     10  67646    5   HT
2    2020     10  66663    9   HT
3    2020     10  50262    7   OB
4    2020     10  68341    9   WO
..    ...    ...    ...  ...  ...
180  2020     10  50404  115   SS
181  2020     10  69446   82   SS
182  2020     10  68419  104   SS
183  2020     10  68135  112   LG
184  2020     10  77318  117   HH

[185 rows x 5 columns]

In [8]:
pitcher_tidy = pd.read_csv("https://raw.githubusercontent.com/njj06135/Baseball_ChilliShrimp/master/data/pitcher_tidy.csv")

In [9]:
babip_total = pitcher_tidy.groupby(['P_ID']).sum()

In [10]:
babip_total['BABIP'] = (babip_total['HIT'] - babip_total['HR']) / (babip_total['AB'] - babip_total['KK'] - babip_total['HR'] + babip_total['SF'])

In [11]:
babip_total = babip_total[['BABIP']]

In [12]:
babip_total

          BABIP
P_ID
50030  0.288136
50036  0.380952
50040  0.313462
50109  0.352941
50126  0.274900
...         ...
97541  0.408451
99314  0.402778
99445  0.305882
99563  0.314763
99737  0.321429

[525 rows x 1 columns]

In [13]:
pitcher_2020 = pitcher_tidy.loc[pitcher_tidy.year == 2020, :]
pitcher_2020 = pitcher_2020.groupby(['P_ID']).sum()

In [14]:
pitcher_2020['BABIP_2020'] = (pitcher_2020['HIT'] - pitcher_2020['HR']) / (pitcher_2020['AB'] - pitcher_2020['KK'] - pitcher_2020['HR'] + pitcher_2020['SF'])

In [15]:
babip_2020 = pitcher_2020[['BABIP_2020']]

In [16]:
babip_total['P_ID'] = babip_total.index
babip_total = babip_total.reset_index(drop = True)

In [17]:
babip_2020['P_ID'] = babip_2020.index

C:\Users\dhxog\anaconda3\envs\my\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
babip_2020 = babip_2020.reset_index(drop = True)

In [19]:
pitcher_left= pd.merge(pitcher_left, babip_total, left_on='P_ID', right_on='P_ID', how='left')
pitcher_left= pd.merge(pitcher_left, babip_2020, left_on='P_ID', right_on='P_ID', how='left')

In [20]:
pitcher_left

     year  month   P_ID   PA T_ID     BABIP  BABIP_2020
0    2020     10  69054    3   KT  0.422222    0.550000
1    2020     10  67646    5   HT  0.340659    0.363636
2    2020     10  66663    9   HT  0.125000    0.125000
3    2020     10  50262    7   OB  0.300000    0.300000
4    2020     10  68341    9   WO  0.321101    0.207547
..    ...    ...    ...  ...  ...       ...         ...
180  2020     10  50404  115   SS  0.293478    0.293478
181  2020     10  69446   82   SS  0.295890    0.301939
182  2020     10  68419  104   SS  0.324798    0.310345
183  2020     10  68135  112   LG  0.294709    0.293182
184  2020     10  77318  117   HH  0.340215    0.328571

[185 rows x 7 columns]

In [21]:
pitcher_left['total_BABIP']=pitcher_left['BABIP_2020']-(pitcher_left['BABIP_2020']-pitcher_left['BABIP'])/5
pitcher_left

     year  month   P_ID   PA T_ID     BABIP  BABIP_2020  total_BABIP
0    2020     10  69054    3   KT  0.422222    0.550000     0.524444
1    2020     10  67646    5   HT  0.340659    0.363636     0.359041
2    2020     10  66663    9   HT  0.125000    0.125000     0.125000
3    2020     10  50262    7   OB  0.300000    0.300000     0.300000
4    2020     10  68341    9   WO  0.321101    0.207547     0.230258
..    ...    ...    ...  ...  ...       ...         ...          ...
180  2020     10  50404  115   SS  0.293478    0.293478     0.293478
181  2020     10  69446   82   SS  0.295890    0.301939     0.300729
182  2020     10  68419  104   SS  0.324798    0.310345     0.313235
183  2020     10  68135  112   LG  0.294709    0.293182     0.293487
184  2020     10  77318  117   HH  0.340215    0.328571     0.330900

[185 rows x 8 columns]

In [22]:
df1 = pitcher_tidy.copy()
df1.head()

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,BB,...,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY
0,2016,4,60146,LG,37,9,1,0,0,8,...,2,0,3,3,0,3,2,3,10,12
1,2016,4,60181,LG,25,8,1,1,1,1,...,2,0,3,3,0,3,2,3,10,12
2,2016,4,60263,NC,90,22,0,1,3,7,...,0,3,4,0,3,3,3,2,9,14
3,2016,4,60264,KT,79,21,2,0,3,5,...,0,2,3,0,3,5,6,3,14,11
4,2016,4,60339,WO,15,4,0,0,0,3,...,3,3,3,2,3,5,0,0,11,13

In [23]:
df1 = df1.loc[df1['year']==2020]

In [24]:
df1

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,BB,...,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY
4753,2020,5,50030,KT,95,32,6,0,3,4,...,0,3,3,3,2,0,3,3,12,11
4754,2020,5,50036,KT,10,4,0,1,0,0,...,0,3,3,3,2,0,3,3,12,11
4755,2020,5,50040,KT,119,25,3,0,0,5,...,0,3,3,3,2,0,3,3,12,11
4756,2020,5,50126,LG,32,4,0,0,0,4,...,3,0,0,2,3,3,3,2,11,11
4757,2020,5,50157,LG,32,11,1,0,1,1,...,3,0,0,2,3,3,3,2,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5696,2020,9,50404,SS,103,26,3,0,2,9,...,4,2,2,3,4,2,0,2,13,11
5697,2020,9,69446,SS,76,26,4,0,3,5,...,4,2,2,3,4,2,0,2,13,11
5698,2020,9,68419,SS,95,26,6,0,0,7,...,4,2,2,3,4,2,0,2,13,11
5699,2020,9,68135,LG,81,29,5,1,0,0,...,2,0,6,4,2,3,2,2,12,12
5700,2020,9,77318,HH,99,29,10,0,1,13,...,2,2,2,2,5,2,2,4,16,9

In [25]:
df1 = df1.groupby(['P_ID']).sum()
df1['inplay_ratio'] = (df1['AB']-df1['KK']-df1['HR']+df1['SF'])/df1['PA']

In [26]:
df1

,year,month,AB,HIT,H2,H3,HR,BB,HP,KK,...,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY,inplay_ratio
P_ID,,,,,,,,,,,,,,,,,,,,,
50030,10100,35,400,108,18,0,6,35,5,66,...,11,12,15,12,12,13,13,57,58,0.759657
50036,4040,11,23,9,1,1,1,5,3,3,...,4,9,5,5,3,5,3,23,23,0.636364
50040,10100,35,645,177,25,1,14,53,7,125,...,11,12,15,12,12,13,13,57,58,0.723227
50109,4040,17,18,6,1,0,0,1,1,1,...,0,6,7,3,3,4,7,23,25,0.850000
50126,10100,35,277,73,16,0,4,29,9,49,...,0,12,11,15,14,13,14,56,61,0.733918
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79617,4040,15,8,3,1,0,0,1,0,3,...,0,3,5,7,3,5,5,19,29,0.555556
79764,10100,35,175,61,13,2,4,9,2,21,...,15,13,15,10,16,11,13,59,59,0.810526
79825,8080,26,112,36,8,1,8,4,3,18,...,0,6,7,13,11,11,12,44,49,0.733871
79847,10100,35,222,55,12,0,6,34,3,41,...,14,12,15,12,0,12,13,57,62,0.679389
99445,8080,26,65,22,3,1,3,3,0,10,...,11,11,7,12,10,0,14,49,45,0.774648

In [27]:
df1['P_ID'] = df1.index

In [28]:
df1 = df1.reset_index(drop = True)

In [29]:
df1

,year,month,AB,HIT,H2,H3,HR,BB,HP,KK,...,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY,inplay_ratio,P_ID
0,10100,35,400,108,18,0,6,35,5,66,...,12,15,12,12,13,13,57,58,0.759657,50030
1,4040,11,23,9,1,1,1,5,3,3,...,9,5,5,3,5,3,23,23,0.636364,50036
2,10100,35,645,177,25,1,14,53,7,125,...,12,15,12,12,13,13,57,58,0.723227,50040
3,4040,17,18,6,1,0,0,1,1,1,...,6,7,3,3,4,7,23,25,0.850000,50109
4,10100,35,277,73,16,0,4,29,9,49,...,12,11,15,14,13,14,56,61,0.733918,50126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,4040,15,8,3,1,0,0,1,0,3,...,3,5,7,3,5,5,19,29,0.555556,79617
263,10100,35,175,61,13,2,4,9,2,21,...,13,15,10,16,11,13,59,59,0.810526,79764
264,8080,26,112,36,8,1,8,4,3,18,...,6,7,13,11,11,12,44,49,0.733871,79825
265,10100,35,222,55,12,0,6,34,3,41,...,12,15,12,0,12,13,57,62,0.679389,79847
266,8080,26,65,22,3,1,3,3,0,10,...,11,7,12,10,0,14,49,45,0.774648,99445

In [30]:
df1.isna().sum()

year            0
month           0
AB              0
HIT             0
H2              0
H3              0
HR              0
BB              0
HP              0
KK              0
BK              0
PA              0
R               0
ER              0
SF              0
stadium_MH      0
stadium_MS      0
stadium_JS      0
stadium_SW      0
stadium_DJ      0
stadium_DG      0
stadium_GJ      0
stadium_GC      0
stadium_SJ      0
stadium_PH      0
stadium_US      0
stadium_CJ      0
stadium_CW      0
VS_T_ID_HH      0
VS_T_ID_HT      0
VS_T_ID_KT      0
VS_T_ID_LG      0
VS_T_ID_LT      0
VS_T_ID_NC      0
VS_T_ID_OB      0
VS_T_ID_SK      0
VS_T_ID_SS      0
VS_T_ID_WO      0
HOME            0
AWAY            0
inplay_ratio    0
P_ID            0
dtype: int64

In [31]:
df1['P_ID']=df1['P_ID'].astype('int')

In [32]:
pitcher_left

     year  month   P_ID   PA T_ID     BABIP  BABIP_2020  total_BABIP
0    2020     10  69054    3   KT  0.422222    0.550000     0.524444
1    2020     10  67646    5   HT  0.340659    0.363636     0.359041
2    2020     10  66663    9   HT  0.125000    0.125000     0.125000
3    2020     10  50262    7   OB  0.300000    0.300000     0.300000
4    2020     10  68341    9   WO  0.321101    0.207547     0.230258
..    ...    ...    ...  ...  ...       ...         ...          ...
180  2020     10  50404  115   SS  0.293478    0.293478     0.293478
181  2020     10  69446   82   SS  0.295890    0.301939     0.300729
182  2020     10  68419  104   SS  0.324798    0.310345     0.313235
183  2020     10  68135  112   LG  0.294709    0.293182     0.293487
184  2020     10  77318  117   HH  0.340215    0.328571     0.330900

[185 rows x 8 columns]

In [33]:
data = pitcher_tidy.copy()

In [34]:
data = data.loc[(data['year']==2020) & (data['month']==9)]

In [35]:
data

,year,month,P_ID,T_ID,AB,HIT,H2,H3,HR,BB,...,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY
5516,2020,9,69054,KT,2,0,0,0,0,1,...,0,2,3,2,4,4,4,2,13,12
5517,2020,9,67646,HT,3,0,0,0,0,2,...,2,1,4,2,1,2,3,4,11,12
5518,2020,9,66663,HT,9,0,0,0,0,0,...,2,1,4,2,1,2,3,4,11,12
5519,2020,9,50262,OB,2,1,1,0,0,4,...,4,2,0,2,0,2,4,5,14,11
5520,2020,9,68341,WO,8,1,0,0,1,1,...,2,2,2,2,5,4,2,0,14,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5696,2020,9,50404,SS,103,26,3,0,2,9,...,4,2,2,3,4,2,0,2,13,11
5697,2020,9,69446,SS,76,26,4,0,3,5,...,4,2,2,3,4,2,0,2,13,11
5698,2020,9,68419,SS,95,26,6,0,0,7,...,4,2,2,3,4,2,0,2,13,11
5699,2020,9,68135,LG,81,29,5,1,0,0,...,2,0,6,4,2,3,2,2,12,12
5700,2020,9,77318,HH,99,29,10,0,1,13,...,2,2,2,2,5,2,2,4,16,9

In [36]:
p_id = data['P_ID'].reset_index(drop = True)

In [37]:
pitcher_2020 = pd.DataFrame()

for i in range(len(p_id)):
    pid = p_id[i]
    pitcher = df1.loc[df1.P_ID == pid,:]
    pitcher_2020 = pitcher_2020.append(pitcher)

In [38]:
pitcher_2020 = pitcher_2020.reset_index(drop = True)

In [39]:
pitcher_2020

,year,month,AB,HIT,H2,H3,HR,BB,HP,KK,...,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY,inplay_ratio,P_ID
0,4040,15,21,11,5,0,0,3,0,2,...,9,4,7,7,6,2,24,24,0.800000,69054
1,6060,20,46,17,2,0,5,11,2,8,...,11,4,7,8,9,10,31,37,0.559322,67646
2,6060,24,37,6,1,0,2,2,1,3,...,7,9,6,7,8,9,36,34,0.800000,66663
3,4040,17,11,3,1,0,0,7,0,2,...,6,6,0,4,10,5,26,23,0.526316,50262
4,8080,30,83,13,1,0,2,13,0,28,...,13,10,11,10,13,0,53,48,0.552083,68341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,10100,35,561,149,17,2,14,44,7,97,...,13,10,16,12,0,16,62,56,0.739550,50404
181,10100,35,435,123,22,1,14,39,5,60,...,13,10,16,12,0,16,62,56,0.753653,69446
182,10100,35,414,107,23,0,8,40,7,90,...,13,10,16,12,0,16,62,56,0.687500,68419
183,10100,35,510,140,19,2,11,37,8,96,...,12,11,15,14,13,14,56,61,0.743243,68135
184,10100,35,460,126,24,1,11,62,6,107,...,13,15,10,16,11,13,59,59,0.652985,77318

In [40]:
pitcher_left= pd.merge(pitcher_left, df1[['P_ID','inplay_ratio']], left_on='P_ID', right_on='P_ID', how='left')

In [41]:
pitcher_left.index = pitcher_left['P_ID']
df1 = df1.reset_index(drop = True)

In [42]:
pitcher_left = pitcher_left.reset_index(drop = True)

In [43]:
pitcher_2020['inplay'] = pitcher_2020['AB'] - pitcher_2020['KK'] - pitcher_2020['HR'] + pitcher_2020['SF']

In [44]:
pitcher_2020['inplay_hit'] = pitcher_2020['HIT'] - pitcher_2020['HR']

In [45]:
pitcher_left= pd.merge(pitcher_left, pitcher_2020[['P_ID', 'inplay', 'inplay_hit']], left_on='P_ID', right_on='P_ID', how='left')

In [46]:
pitcher_left

,year,month,P_ID,PA,T_ID,BABIP,BABIP_2020,total_BABIP,inplay_ratio,inplay,inplay_hit
0,2020,10,69054,3,KT,0.422222,0.550000,0.524444,0.800000,20,11
1,2020,10,67646,5,HT,0.340659,0.363636,0.359041,0.559322,33,12
2,2020,10,66663,9,HT,0.125000,0.125000,0.125000,0.800000,32,4
3,2020,10,50262,7,OB,0.300000,0.300000,0.300000,0.526316,10,3
4,2020,10,68341,9,WO,0.321101,0.207547,0.230258,0.552083,53,11
...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,115,SS,0.293478,0.293478,0.293478,0.739550,460,135
181,2020,10,69446,82,SS,0.295890,0.301939,0.300729,0.753653,361,109
182,2020,10,68419,104,SS,0.324798,0.310345,0.313235,0.687500,319,99
183,2020,10,68135,112,LG,0.294709,0.293182,0.293487,0.743243,440,129
184,2020,10,77318,117,HH,0.340215,0.328571,0.330900,0.652985,350,115

In [47]:
pitcher_left['pred_inplay'] = pitcher_left['PA'] * pitcher_left['inplay_ratio']

In [48]:
pitcher_left

,year,month,P_ID,PA,T_ID,BABIP,BABIP_2020,total_BABIP,inplay_ratio,inplay,inplay_hit,pred_inplay
0,2020,10,69054,3,KT,0.422222,0.550000,0.524444,0.800000,20,11,2.400000
1,2020,10,67646,5,HT,0.340659,0.363636,0.359041,0.559322,33,12,2.796610
2,2020,10,66663,9,HT,0.125000,0.125000,0.125000,0.800000,32,4,7.200000
3,2020,10,50262,7,OB,0.300000,0.300000,0.300000,0.526316,10,3,3.684211
4,2020,10,68341,9,WO,0.321101,0.207547,0.230258,0.552083,53,11,4.968750
...,...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,115,SS,0.293478,0.293478,0.293478,0.739550,460,135,85.048232
181,2020,10,69446,82,SS,0.295890,0.301939,0.300729,0.753653,361,109,61.799582
182,2020,10,68419,104,SS,0.324798,0.310345,0.313235,0.687500,319,99,71.500000
183,2020,10,68135,112,LG,0.294709,0.293182,0.293487,0.743243,440,129,83.243243
184,2020,10,77318,117,HH,0.340215,0.328571,0.330900,0.652985,350,115,76.399254

In [49]:
pitcher_left['pred_inplay_hit'] = pitcher_left['total_BABIP'] * (pitcher_left['inplay'] + pitcher_left['pred_inplay']) - pitcher_left['inplay_hit']

In [50]:
pitcher_left = pitcher_left[['year', 'month', 'P_ID', 'T_ID', 'PA', 'pred_inplay_hit', 'BABIP']]

In [51]:
pitcher_left = pitcher_left.fillna(0)

In [52]:
pitcher_left.pred_inplay_hit[pitcher_left.pred_inplay_hit < 0.0 ]=0

C:\Users\dhxog\anaconda3\envs\my\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [53]:
pitcher_left

     year  month   P_ID T_ID   PA  pred_inplay_hit     BABIP
0    2020     10  69054   KT    3         0.747556  0.422222
1    2020     10  67646   HT    5         0.852449  0.340659
2    2020     10  66663   HT    9         0.900000  0.125000
3    2020     10  50262   OB    7         1.105263  0.300000
4    2020     10  68341   WO    9         2.347764  0.321101
..    ...    ...    ...  ...  ...              ...       ...
180  2020     10  50404   SS  115        24.959807  0.293478
181  2020     10  69446   SS   82        18.148235  0.295890
182  2020     10  68419   SS  104        23.318436  0.324798
183  2020     10  68135   LG  112        24.565185  0.294709
184  2020     10  77318   HH  117        26.095548  0.340215

[185 rows x 7 columns]

In [54]:
pitcher_2020_ratio = pd.read_csv("https://raw.githubusercontent.com/njj06135/Baseball_ChilliShrimp/master/data/pitcher_2020_ratio.csv")

In [55]:
pitcher_left = pd.merge(pitcher_left, pitcher_2020_ratio, left_on='P_ID', right_on='P_ID', how='left')

In [56]:
pitcher_left

,year,month,P_ID,T_ID,PA,pred_inplay_hit,BABIP,H2_rate,H3_rate,HR_rate,BB_rate,HP_rate,KK_rate,BK_rate,SF_rate
0,2020,10,69054,KT,3,0.747556,0.422222,0.454545,0.000000,0.000000,0.120000,0.000000,0.080000,0.000000,0.040000
1,2020,10,67646,HT,5,0.852449,0.340659,0.117647,0.000000,0.294118,0.186441,0.033898,0.135593,0.000000,0.000000
2,2020,10,66663,HT,9,0.900000,0.125000,0.166667,0.000000,0.333333,0.050000,0.025000,0.075000,0.000000,0.000000
3,2020,10,50262,OB,7,1.105263,0.300000,0.333333,0.000000,0.000000,0.368421,0.000000,0.105263,0.000000,0.052632
4,2020,10,68341,WO,9,2.347764,0.321101,0.076923,0.000000,0.153846,0.135417,0.000000,0.291667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,SS,115,24.959807,0.293478,0.114094,0.013423,0.093960,0.070740,0.011254,0.155949,0.000000,0.016077
181,2020,10,69446,SS,82,18.148235,0.295890,0.178862,0.008130,0.113821,0.081420,0.010438,0.125261,0.000000,0.000000
182,2020,10,68419,SS,104,23.318436,0.324798,0.214953,0.000000,0.074766,0.086207,0.015086,0.193966,0.002155,0.006466
183,2020,10,68135,LG,112,24.565185,0.294709,0.135714,0.014286,0.078571,0.062500,0.013514,0.162162,0.001689,0.062500
184,2020,10,77318,HH,117,26.095548,0.340215,0.190476,0.007937,0.087302,0.115672,0.011194,0.199627,0.000000,0.014925

In [57]:
pitcher_left['HR'] = (pitcher_left['HR_rate']*pitcher_left['pred_inplay_hit'])/(1-pitcher_left['HR_rate'])

In [58]:
pitcher_left['HIT'] = pitcher_left['HR'] + pitcher_left['pred_inplay_hit']

In [59]:
pitcher_left['H2'] = pitcher_left['HIT']*pitcher_left['H2_rate']
pitcher_left['H3'] = pitcher_left['HIT']*pitcher_left['H3_rate']

In [60]:
pitcher_left = pitcher_left.fillna(0)

In [61]:
pitcher_left['BB'] = pitcher_left['PA'] * pitcher_left['BB_rate']
pitcher_left['HP'] = pitcher_left['PA'] * pitcher_left['HP_rate']
pitcher_left['SF'] = pitcher_left['PA'] * pitcher_left['SF_rate']

pitcher_left['AB'] = pitcher_left['PA'] - pitcher_left['BB'] - pitcher_left['HP'] - pitcher_left['SF']

In [62]:
pitcher_left['AVG'] = pitcher_left['HIT'] / pitcher_left['AB']
pitcher_left['OBP'] = (pitcher_left['HIT'] + pitcher_left['BB'] + pitcher_left['HP']) / pitcher_left['PA']
pitcher_left['SLG'] = ((pitcher_left['HIT'] - pitcher_left['H2'] - pitcher_left['H3'] - pitcher_left['HR']) + 2 * pitcher_left['H2'] + 3 * pitcher_left['H3'] + 4 * pitcher_left['HR']) / pitcher_left['AB']
pitcher_left['OPS'] = pitcher_left['OBP'] + pitcher_left['SLG']

In [63]:
pitcher_left

,year,month,P_ID,T_ID,PA,pred_inplay_hit,BABIP,H2_rate,H3_rate,HR_rate,...,H2,H3,BB,HP,SF,AB,AVG,OBP,SLG,OPS
0,2020,10,69054,KT,3,0.747556,0.422222,0.454545,0.000000,0.000000,...,0.339798,0.000000,0.360000,0.000000,0.120000,2.520000,0.296649,0.369185,0.431489,0.800675
1,2020,10,67646,HT,5,0.852449,0.340659,0.117647,0.000000,0.294118,...,0.142075,0.000000,0.932203,0.169492,0.000000,3.898305,0.309785,0.461866,0.619570,1.081436
2,2020,10,66663,HT,9,0.900000,0.125000,0.166667,0.000000,0.333333,...,0.225000,0.000000,0.450000,0.225000,0.000000,8.325000,0.162162,0.225000,0.351351,0.576351
3,2020,10,50262,OB,7,1.105263,0.300000,0.333333,0.000000,0.000000,...,0.368421,0.000000,2.578947,0.000000,0.368421,4.052632,0.272727,0.526316,0.363636,0.889952
4,2020,10,68341,WO,9,2.347764,0.321101,0.076923,0.000000,0.153846,...,0.213433,0.000000,1.218750,0.000000,0.000000,7.781250,0.356579,0.443709,0.548583,0.992292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,SS,115,24.959807,0.293478,0.114094,0.013423,0.093960,...,3.143087,0.369775,8.135048,1.294212,1.848875,103.721865,0.265597,0.321543,0.377897,0.699440
181,2020,10,69446,SS,82,18.148235,0.295890,0.178862,0.008130,0.113821,...,3.662946,0.166498,6.676409,0.855950,0.000000,74.467641,0.275008,0.341604,0.422573,0.764178
182,2020,10,68419,SS,104,23.318436,0.324798,0.214953,0.000000,0.074766,...,5.417414,0.000000,8.965517,1.568966,0.672414,92.793103,0.271602,0.343627,0.390903,0.734530
183,2020,10,68135,LG,112,24.565185,0.294709,0.135714,0.014286,0.078571,...,3.618128,0.380856,7.000000,1.513514,7.000000,96.486486,0.276307,0.314048,0.386830,0.700878
184,2020,10,77318,HH,117,26.095548,0.340215,0.190476,0.007937,0.087302,...,5.446027,0.226918,13.533582,1.309701,1.746269,100.410448,0.284748,0.371239,0.418082,0.789321

In [64]:
pitcher_feature = modeling_p

In [65]:
pitcher_feature = pitcher_feature.loc[pitcher_feature.year == 2020, : ]

In [66]:
pitcher_feature.columns

Index(['year', 'month', 'P_ID', 'T_ID', 'PA', 'R', 'stadium_MH', 'stadium_MS',
       'stadium_JS', 'stadium_SW', 'stadium_DJ', 'stadium_DG', 'stadium_GJ',
       'stadium_GC', 'stadium_SJ', 'stadium_PH', 'stadium_US', 'stadium_CJ',
       'stadium_CW', 'VS_T_ID_HH', 'VS_T_ID_HT', 'VS_T_ID_KT', 'VS_T_ID_LG',
       'VS_T_ID_LT', 'VS_T_ID_NC', 'VS_T_ID_OB', 'VS_T_ID_SK', 'VS_T_ID_SS',
       'VS_T_ID_WO', 'HOME', 'AWAY', 'BABIP', 'FIP', 'kwERA', 'SB_try',
       'SB_succ', 'GD_rate', 'H2_rate', 'H3_rate', 'HR_rate', 'BB_rate',
       'HP_rate', 'KK_rate', 'BK_rate', 'AVG', 'OBP', 'SLG', 'OPS', 'ER_rate',
       'ERR_rate'],
      dtype='object')

In [67]:
pitcher_feature = pitcher_feature[['P_ID', 'SB_try', 'SB_succ', 'GD_rate', 'ERR_rate', 'ER_rate']].drop_duplicates()
pitcher_feature = pitcher_feature.fillna(0)

In [68]:
pitcher_feature = pitcher_feature.groupby(['P_ID']).mean()
pitcher_feature['P_ID'] = pitcher_feature.index
pitcher_feature = pitcher_feature.reset_index(drop = True)

In [69]:
pitcher_left = pd.merge(pitcher_left, pitcher_feature, left_on='P_ID', right_on='P_ID', how='left')

In [70]:
pitcher_left['KK'] = pitcher_left['PA'] * pitcher_left['KK_rate']
pitcher_left['BB'] = pitcher_left['PA'] * pitcher_left['BB_rate']
pitcher_left['HP'] = pitcher_left['PA'] * pitcher_left['HP_rate']
pitcher_left['FIP'] = (pitcher_left['HR'] * 13 + 3*(pitcher_left['BB'] + pitcher_left['HP']) - 3 * pitcher_left['KK']) / ((pitcher_left['PA'] - pitcher_left['HIT'] - pitcher_left['BB'] - pitcher_left['HP'])/3)


pitcher_left = pitcher_left.fillna(0)

pitcher_left['FIP'] = pitcher_left['FIP'] + 3.69

In [71]:
pitcher_left

,year,month,P_ID,T_ID,PA,pred_inplay_hit,BABIP,H2_rate,H3_rate,HR_rate,...,OBP,SLG,OPS,SB_try,SB_succ,GD_rate,ERR_rate,ER_rate,KK,FIP
0,2020,10,69054,KT,3,0.747556,0.422222,0.454545,0.000000,0.000000,...,0.369185,0.431489,0.800675,0.019231,0.000000,0.019231,0.001187,0.500000,0.240000,4.260690
1,2020,10,67646,HT,5,0.852449,0.340659,0.117647,0.000000,0.294118,...,0.461866,0.619570,1.081436,0.024590,0.888889,0.032787,0.002572,0.500000,0.677966,10.255602
2,2020,10,66663,HT,9,0.900000,0.125000,0.166667,0.000000,0.333333,...,0.225000,0.351351,0.576351,0.000000,0.000000,0.000000,0.002572,1.000000,0.675000,6.206129
3,2020,10,50262,OB,7,1.105263,0.300000,0.333333,0.000000,0.000000,...,0.526316,0.363636,0.889952,0.000000,0.000000,0.000000,0.002351,1.000000,0.736842,8.690000
4,2020,10,68341,WO,9,2.347764,0.321101,0.076923,0.000000,0.153846,...,0.443709,0.548583,0.992292,0.031397,0.700000,0.017268,0.001983,0.500000,2.625000,4.487250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,SS,115,24.959807,0.293478,0.114094,0.013423,0.093960,...,0.321543,0.377897,0.699440,0.000000,0.000000,0.058309,0.004411,0.907692,17.934084,4.002796
181,2020,10,69446,SS,82,18.148235,0.295890,0.178862,0.008130,0.113821,...,0.341604,0.422573,0.764178,0.023166,0.833333,0.016731,0.004411,0.904167,10.271399,4.917231
182,2020,10,68419,SS,104,23.318436,0.324798,0.214953,0.000000,0.074766,...,0.343627,0.390903,0.734530,0.018626,0.750000,0.022119,0.004411,0.834535,20.172414,3.495854
183,2020,10,68135,LG,112,24.565185,0.294709,0.135714,0.014286,0.078571,...,0.314048,0.386830,0.700878,0.039863,0.785714,0.023918,0.001183,0.874391,18.162162,3.623040
184,2020,10,77318,HH,117,26.095548,0.340215,0.190476,0.007937,0.087302,...,0.371239,0.418082,0.789321,0.029575,0.770833,0.023413,0.003063,0.923810,23.356343,3.971794

In [72]:
pitcher_left['kwERA'] = 5.40 - 12 * (pitcher_left['KK'] - pitcher_left['BB']) / pitcher_left['PA']
pitcher_left = pitcher_left.fillna(0)

In [73]:
pitcher_left = pitcher_left[['year', 'month', 'P_ID', 'T_ID', 'PA', 'BABIP', 'FIP', 'kwERA', 'SB_try', 'SB_succ', 'GD_rate', 'H2_rate', 'H3_rate', 'HR_rate', 'BB_rate', 'HP_rate', 'KK_rate', 'BK_rate', 'AVG', 'OBP', 'SLG', 'OPS', 'ER_rate']]

In [74]:
schedule = pd.read_csv("https://raw.githubusercontent.com/njj06135/Baseball_ChilliShrimp/master/data/schedule.csv", encoding='CP949')

In [75]:
schedule

,year,month,T_ID,stadium_MH,stadium_MS,stadium_JS,stadium_SW,stadium_DJ,stadium_DG,stadium_GJ,...,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY
0,2016,4,HH,0,3,5,0,12,0,0,...,0,4,3,3,6,0,2,3,12,11
1,2016,4,HT,3,2,0,3,2,0,9,...,3,2,3,2,2,3,3,2,9,13
2,2016,4,KT,3,0,2,14,0,3,0,...,0,2,3,0,3,5,6,3,14,11
3,2016,4,LG,3,0,10,0,2,2,2,...,2,0,3,3,0,3,2,3,10,12
4,2016,4,LT,0,2,3,3,0,0,0,...,3,3,0,4,0,3,3,3,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,2020,10,NC,0,0,3,0,0,0,0,...,0,3,3,0,0,1,3,3,10,6
368,2020,10,OB,3,0,6,3,1,0,0,...,3,0,0,0,0,3,0,3,6,10
369,2020,10,SK,9,0,0,0,0,3,3,...,3,0,0,1,3,0,3,3,9,7
370,2020,10,SS,0,0,3,0,3,7,0,...,1,3,3,3,0,3,0,0,7,9
371,2020,10,WO,3,0,0,3,3,0,0,...,3,0,0,3,3,3,0,0,7,9

In [76]:
schedule = schedule.loc[(schedule['year']==2020) & (schedule['month']==10)]

In [77]:
schedule = schedule.drop(columns=['year', 'month'])

In [78]:
pitcher_left = pd.merge(pitcher_left, schedule, left_on='T_ID', right_on='T_ID', how='left')

In [79]:
pitcher_left

,year,month,P_ID,T_ID,PA,BABIP,FIP,kwERA,SB_try,SB_succ,...,VS_T_ID_KT,VS_T_ID_LG,VS_T_ID_LT,VS_T_ID_NC,VS_T_ID_OB,VS_T_ID_SK,VS_T_ID_SS,VS_T_ID_WO,HOME,AWAY
0,2020,10,69054,KT,3,0.422222,4.260690,5.880000,0.019231,0.000000,...,0,3,3,0,3,3,1,3,9,7
1,2020,10,67646,HT,5,0.340659,10.255602,6.010169,0.024590,0.888889,...,0,3,0,3,3,3,0,1,6,10
2,2020,10,66663,HT,9,0.125000,6.206129,5.100000,0.000000,0.000000,...,0,3,0,3,3,3,0,1,6,10
3,2020,10,50262,OB,7,0.300000,8.690000,8.557895,0.000000,0.000000,...,3,0,0,0,0,3,0,3,6,10
4,2020,10,68341,WO,9,0.321101,4.487250,3.525000,0.031397,0.700000,...,3,0,0,3,3,3,0,0,7,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2020,10,50404,SS,115,0.293478,4.002796,4.377492,0.000000,0.000000,...,1,3,3,3,0,3,0,0,7,9
181,2020,10,69446,SS,82,0.295890,4.917231,4.873904,0.023166,0.833333,...,1,3,3,3,0,3,0,0,7,9
182,2020,10,68419,SS,104,0.324798,3.495854,4.106897,0.018626,0.750000,...,1,3,3,3,0,3,0,0,7,9
183,2020,10,68135,LG,112,0.294709,3.623040,4.204054,0.039863,0.785714,...,3,0,4,3,0,0,3,0,10,6
184,2020,10,77318,HH,117,0.340215,3.971794,4.392537,0.029575,0.770833,...,0,0,3,0,4,0,3,3,7,9

In [80]:
pitcher_left.columns

Index(['year', 'month', 'P_ID', 'T_ID', 'PA', 'BABIP', 'FIP', 'kwERA',
       'SB_try', 'SB_succ', 'GD_rate', 'H2_rate', 'H3_rate', 'HR_rate',
       'BB_rate', 'HP_rate', 'KK_rate', 'BK_rate', 'AVG', 'OBP', 'SLG', 'OPS',
       'ER_rate', 'stadium_MH', 'stadium_MS', 'stadium_JS', 'stadium_SW',
       'stadium_DJ', 'stadium_DG', 'stadium_GJ', 'stadium_GC', 'stadium_SJ',
       'stadium_PH', 'stadium_US', 'stadium_CJ', 'stadium_CW', 'VS_T_ID_HH',
       'VS_T_ID_HT', 'VS_T_ID_KT', 'VS_T_ID_LG', 'VS_T_ID_LT', 'VS_T_ID_NC',
       'VS_T_ID_OB', 'VS_T_ID_SK', 'VS_T_ID_SS', 'VS_T_ID_WO', 'HOME', 'AWAY'],
      dtype='object')

In [81]:
pitcher_left.to_csv("pitcher_for_pred.csv")